<template>
  <div>
    <button @click="Test.fetchFuncReq" v-if="Test.createClickHandle">생성</button>
    <button @click="Test.getDoc" v-if="Test.readClickHandle">보기</button>
    <p v-if="!Test.createClickHandle || !Test.readClickHandle">
      <b><u>HTTP 트리거 함수 실행중입니다.</u></b>
    </p>
    <ul v-for="doc in Test.docs" v-if="Test.docs">
      <li>{{doc.country}}</li>
      <li>{{doc.name}}</li>
      <li>{{doc.state}}</li>
    </ul>
  </div>
</template>

<script>
import { reactive } from '@vue/composition-api'
import Test from '@/store/test'

export default {
  setup() {
    return { Test }
  }
}
</script>
